cltl.backend[impl,host,service]
cltl.face-recognition[impl,service]
cltl.object-recognition[impl,service]
cltl.emotionrecognition
cltl.mention-detection[impl, service]
cltl.brain[service]
cltl.triple_extraction[service]
cltl.entity_linking
cltl.reply_generation[service]
cltl.emissor-data[impl,service,client]
cltl.g2ky[impl,service]
cltl.leolani
cltl.chat-ui[service]

flask
werkzeug
